body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.img1{
    width: 300px;
    height: 300px;
    margin: 100px;
}

.eje1{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: aqua;
    background-color: rgb(5, 36, 36);
    justify-content: center;
    border: solid;
    border-radius: 10px;
    flex-wrap: wrap;


}

.eje2{
    display: flex;
    background-color: rgb(173, 219, 204);
    width: 500px;
    height: 500px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    position: absolute;



}

.eje3{
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

h4{
    position: relative;
    top: 150px;
}
